@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

* {
    font-family: 'Montserrat';
}

@keyframes slideAnimation {
    from {
        top: 50%;
    }

    to {
        left: 0;
    }
}

.anm-card {
    animation: slideAnimation 0.3s linear;
}


